.pc-grid-line {
	stroke: rgb(204,204,204);
	stroke-width: 1;
  shape-rendering:crispEdges
}
.pc-board {
  margin-top: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 8px;
}
.pc-svg-board {
  margin-top: 5px;
  background-color: #fff;
  border-style: solid;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-radius: 4px;
}
body {
  padding-top: 55px;
}
.starter-template {
  padding: 40px 15px;
}
.dimmed {
  opacity: .25;
}