.pc-grid-line {
	stroke: #e8e8e8;
	stroke-width: 1;
  shape-rendering:crispEdges
}
.pc-board {
  margin-top: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 8px;
  float: left;
  margin-right: 8px;
  width: 100%;
}
.pc-svg-board {
  margin-top: 5px;
  background-color: #fff;
  border-style: solid;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-radius: 4px;
}
body {
  padding-top: 55px;
}
.starter-template {
  padding: 40px 15px;
}
.dimmed {
  opacity: .25;
}
.editor-area {
  float: left;
  margin-right: 6px;
}
.editor-wrapper {
  line-height: 1.3em;
  font-family: monospace;



  /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */
  position: relative;
  /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */
  overflow: hidden;
  background-color: white;
  width: 250px;

  /* Copied from Bootstrap's textarea */
  display: inline-block;
  /*padding: 4px 6px;*/
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 6px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;  
}
.pc-play-area {
  float: left;
  margin-right: 6px;
}
code {
  font-family: "Courier New", monospace;
  color: #000;
  font-size: 16px;
  background-color: #fff;
}
.error-line {
  background-color: rgb(252, 248, 227);
}